.burger {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  transition: 0.5s;
  .burger-flex {
    display: flex;
    padding: 13px 21px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 15px;
    border: 1px solid #fff;
    h1 {
      color: #fff;
      text-align: right;
      font-family: Outfit;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      cursor: pointer;
      transition: 0.2s;
    }
    h1:hover {
      color: aquamarine;
    }
  }
}

.burger-arrow {
  cursor: pointer;
  transition: 0.5s;
}

.burger.closed {
  transform: translateY(-65px);
}

.burger-arrow svg {
  transition: 0.5s;
}

.burger-arrow.active svg {
  transform: rotate(180deg);
}
