.burger {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  transition: 0.5s;
  position: relative;
  pointer-events: none;

  img {
    position: absolute;
    top: -70;
    bottom: 0;
    z-index: -100000;
  }

  .burger-flex {
    display: flex;
    padding: 13px 21px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 15px;
    border: 1px solid #fff;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(15px);
    h1,
    a {
      color: #fff;
      text-align: right;
      font-family: Outfit;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      cursor: pointer;
      transition: 0.2s;
      text-decoration: none;
      pointer-events: auto;
    }
    a:hover {
      background: linear-gradient(90deg, #ffffff 0.1%, #ffffff 99.9%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      transform: scale(1.04);
      text-decoration: underline;
    }
  }
}

.burger-arrow {
  cursor: pointer;
  transition: 0.5s;
  pointer-events: auto;
  z-index: 100000;
}

.burger.closed {
  transform: translateY(-55px);
}

.burger-arrow svg {
  transition: 0.5s;
}

.burger-arrow.active svg {
  transform: rotate(180deg);
}

.burger-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

a {
  user-select: none; /* Empêche la sélection */
  -webkit-user-select: none; /* Pour Safari */
  -moz-user-select: none; /* Pour Firefox */
  -ms-user-select: none; /* Pour Internet Explorer */
}

.burger-img {
  pointer-events: none;
}

.burger-col {
  pointer-events: none;
}

@media (max-width: 768px) {
  .burger {
    transform: scale(1.1);
  }
}

@media (max-width: 480px) {
  .burger {
    transform: scale(0.9);
  }
}
