.footer {
  position: relative;
  border-top: solid 1px white;
  padding-top: 7%;
  display: flex;
  align-items: center;
  user-select: none; /* Empêche la sélection */
  -webkit-user-select: none; /* Pour Safari */
  -moz-user-select: none; /* Pour Firefox */
  -ms-user-select: none; /* Pour Internet Explorer */
  padding-bottom: 7%;
  .footer-logo {
    display: flex;
    flex-direction: column;
    h1 {
      color: #fff;
      font-family: Humane;
      font-size: 48px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
    .footer-logo-icons {
      display: flex;
      align-items: center;
      gap: 7px;
    }
  }
  .footer-line {
    width: 0.2px;
    height: 168px;
    background: #adadad;
  }
  .footer-bloc {
    display: flex;
    width: 214px;
    height: 168px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-shrink: 0;
    h2 {
      color: #fff;

      /* text-description */
      font-family: Outfit;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      transition: 0.3s;
    }
  }
  .footer-line-2 {
    width: 168px;
    height: 0.2px;
    background: #adadad;
  }
}

.footer-bloc:hover {
  color: aquamarine;
}

.footer {
  h2:hover {
    background: linear-gradient(90deg, #f94bfd 0.1%, #066be8 99.9%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(1.04);
  }
}

.footer-grid {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -100;
}

@media (min-width: 1250px) {
  .footer {
    padding-top: 5%;
    padding-bottom: 5%;
  }
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: center;
    transform: scale(1.1);
    margin-top: 5%;
    .footer-line {
      display: none;
    }
    .footer-logo {
      align-items: center;
      text-align: center;
    }
    .footer-bloc {
      width: 100%;
      align-items: center;
      text-align: center;
      // height: 150px;
    }
    .footer-bloc-1 {
      display: none;
    }
  }
}
