.gd-comp {
  position: relative;
}

.gd-card {
  cursor: pointer;
  position: relative;
  display: flex;
  padding: 20px;
  flex-direction: column;
  gap: 10px;
  border-radius: 15px;
  border: 1px solid rgb(85, 85, 85);
  align-items: flex-start;
  gap: 25px;
  align-self: stretch;
  opacity: 1;
  transition: 1s;
  margin-bottom: 25px;
  background-color: rgba(0, 0, 0, 0.6);
  .gd-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    align-self: stretch;
  }
  .gd-player {
    display: flex;
    width: 100%;
    height: 20em;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 15px;
    background: #d9d9d9;
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  h1 {
    color: #fff;
    font-family: Outfit;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    align-self: stretch;
  }
  h2 {
    overflow: hidden;
    color: #fff;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: Outfit;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    align-self: stretch;
  }
}

.gd-card:hover {
  transform: scale(1.05);
  border: 1px solid #ffffff;
}

.gd-comp:hover {
  .gd-glow {
    filter: brightness(1000%);
    transition: 0.5s ease;
  }
}

.gd-glow {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 30;
  left: 30;
  right: 0;
  z-index: -10;
  pointer-events: none;
  filter: brightness(100%);
  transition: filter 0.3s ease; /* transition courte et ciblée */
  opacity: 1;
  transform: scale(1.1);
  transition: 1s;
}

span.swiper-pagination-bullet-active {
  background: white;
}

span.swiper-pagination-bullet {
  background: white;
}

div.swiper-button-next,
div.swiper-button-prev {
  color: white;
}

.gd-sh {
  position: absolute;
  z-index: 10;
  rotate: 180deg;
  pointer-events: none;
  filter: blur(20px);
  left: -25;
}

.gd-sh-1 {
  position: absolute;
  z-index: 10;
  pointer-events: none;
  right: -25;
  filter: blur(20px);
}

.gd-title {
  color: #fff;

  /* text-title */
  font-family: Outfit;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-top: 5%;
  padding-left: 5%;
}

.swiper-wrapper {
  padding-left: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.swiper-ui {
  margin-top: -2%;
  margin-bottom: 2%;
}

.gd-dec {
  position: absolute;
  top: 30;
  right: 40;
  flex-shrink: 0;
  aspect-ratio: 37/36;
  width: 74px;
  height: 72px;
}

@media (max-width: 768px) {
  .swiper-wrapper {
    padding-left: 0%;
    .gd-card {
      transform: scale(0.9);
    }
    .gd-glow {
      transform: scale(1);
    }
  }
}

@media (max-width: 1250px) {
  .gd-dec {
    top: 10;
  }
}

@media (max-width: 991px) {
  .gd-dec {
    width: 50px;
    height: 48px;
  }
}
