.graphisme-carousel-1,
.graphisme-carousel-2 {
  width: 100vw;
  position: relative;
  svg {
    position: absolute;
    top: 40%;
    right: 30;
    z-index: 10;
  }
}

.graphisme-container {
  position: relative;
  .graphisme-shadow {
    position: absolute;
    height: 100%;
    right: 0;
    z-index: 10;
  }
}
