.home {
  background-image: url(../img/portfolio-text.png);
  background-size: 70%;
  width: 100vw;
  background-position: center;
  height: calc(100vh - 115px);
  background-repeat: no-repeat;

  .home-title {
    color: #fff;
    font-family: Humane;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    user-select: none; /* Empêche la sélection */
    -webkit-user-select: none; /* Pour Safari */
    -moz-user-select: none; /* Pour Firefox */
    -ms-user-select: none; /* Pour Internet Explorer */
  }
  .home-title-right {
    text-align: right;
  }
  .home-title-left {
    text-align: left;
  }
}
.home-title-flex {
  display: flex;
  align-items: center;
}
