.home {
  background-image: url(../img/portfolio-text.png);
  background-size: 70%;
  width: 100vw;
  background-position: center;
  height: calc(100vh - 115px);
  background-repeat: no-repeat;
  background-position: middle;
  transition: 0.5s;
  margin-bottom: 10%;
  position: relative;

  .home-3d-cube {
    position: absolute;
    transform: scale(0.7);
    top: -200;
    left: 150;
    z-index: 0;
  }

  .home-title {
    color: #fff;
    font-family: Humane;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    user-select: none; /* Empêche la sélection */
    -webkit-user-select: none; /* Pour Safari */
    -moz-user-select: none; /* Pour Firefox */
    -ms-user-select: none; /* Pour Internet Explorer */
  }
  .home-title-right {
    text-align: right;
  }
  .home-title-left {
    text-align: left;
  }
}
.home-title-flex {
  display: flex;
  align-items: center;
}

.home.hidden {
  opacity: 0;
  transform: translateY(-100px);
  pointer-events: none;
}

.home-scroll {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  h2 {
    color: #fff;
    text-align: center;
    font-family: Outfit;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
  svg {
    width: 34px;
    height: 34px;
    flex-shrink: 0;
  }
}

.home-info {
  display: flex;
  flex-direction: column;
  gap: 25px;
  h1 {
    color: #fff;

    /* text-title */
    font-family: Outfit;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  h2 {
    color: #fff;

    /* text-description */
    font-family: Outfit;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.home-skills {
  display: flex;
  gap: 15px;
  margin-bottom: 25px;
  h1 {
    color: #fff;

    /* big text title */
    font-family: Outfit;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  h2 {
    /* big text title */
    font-family: Outfit;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background: linear-gradient(90deg, #066be8 0%, #f94bfd 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@media (max-width: 1000px) {
  .home-title {
    display: none;
  }
  .home-scroll {
    bottom: 80;
  }
  .home-info {
    margin-bottom: 25px;
  }
  .home-skills {
    justify-content: center;
    margin-bottom: 50px;
  }
}
