.home {
  background-image: url(../img/portfolio-text.png);
  background-size: 70%;
  width: 100vw;
  background-position: center;
  height: calc(100vh - 115px);
  background-repeat: no-repeat;
  background-position: middle;
  transition: 0.5s;
  margin-bottom: 10%;
  position: relative;

  .home-3d-cube {
    position: absolute;
    transform: scale(0.7);
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 0;
  }

  .home-title {
    color: #fff;
    font-family: Humane;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    user-select: none; /* Empêche la sélection */
    -webkit-user-select: none; /* Pour Safari */
    -moz-user-select: none; /* Pour Firefox */
    -ms-user-select: none; /* Pour Internet Explorer */
  }
  .home-title-right {
    text-align: right;
    background: linear-gradient(45deg, #fff 1.88%, #000 98.12%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .home-title-left {
    text-align: left;
    background: linear-gradient(310deg, #fff 1.88%, #000 98.12%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.home-title-flex {
  display: flex;
  align-items: center;
}

.home.hidden {
  opacity: 0;
  transform: translateY(-100px);
  pointer-events: none;
}

.home-scroll {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  h2 {
    color: #fff;
    text-align: center;
    font-family: Outfit;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
  svg {
    width: 34px;
    height: 34px;
    flex-shrink: 0;
  }
}

.home-info {
  display: flex;
  flex-direction: column;
  gap: 25px;
  h1 {
    color: #fff;

    /* text-title */
    font-family: Outfit;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  h2 {
    color: #fff;

    /* text-description */
    font-family: Outfit;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.home-skills {
  display: flex;
  gap: 15px;
  margin-bottom: 25px;
  h1 {
    color: #fff;

    /* big text title */
    font-family: Outfit;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  h2 {
    /* big text title */
    font-family: Outfit;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background: linear-gradient(90deg, #066be8 0%, #f94bfd 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.home-showreel-dec {
  position: absolute;
  width: 74px;
  height: 72px;
  flex-shrink: 0;
  aspect-ratio: 37/36;
  z-index: 2;
}
.home-showreel-dec-1 {
  top: -100;
}
.home-showreel-dec-2 {
  top: -100;
  right: 0;
  rotate: 90deg;
}
.home-showreel-dec-3 {
  bottom: -100;
  rotate: -90deg;
}
.home-showreel-dec-4 {
  bottom: -100;
  right: 0;
  rotate: -180deg;
}

.home-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: scale(0.8);
  z-index: -10;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.home-showreel-container {
  margin-bottom: 15%;
  margin-top: 15%;
  position: relative;
  .home-showreel {
    width: 100%;
    height: 100%;
    aspect-ratio: 1.85/1;
    background-color: #fff;
  }
  .home-showreel-glow-img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -15;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -10;
    transform: scale(1.3);
  }
}

.home-showreel-sd {
  position: absolute;
  z-index: 10;
  pointer-events: none;
  right: -105;
  filter: blur(20px);
  z-index: 1;
  top: -100;
}

.home-showreel-sd-1 {
  position: absolute;
  z-index: 10;
  rotate: 180deg;
  pointer-events: none;
  filter: blur(20px);
  left: -100;
  top: -100;
  z-index: 1;
}

@media (max-width: 2000px) {
  .home-showreel-sd {
    height: 150%;
    right: -50;
    filter: blur(40px);
  }
  .home-showreel-sd-1 {
    height: 150%;
    left: -50;
    filter: blur(40px);
  }
}

@media (max-width: 991px) {
  .home-title {
    display: none;
  }
  .home-scroll {
    bottom: 80;
  }
  .home-info {
    margin-bottom: 25px;
  }
  .home-skills {
    justify-content: center;
    margin-bottom: 50px;
  }
  .home-showreel-dec {
    position: absolute;
    width: 50px;
    height: 48px;
    flex-shrink: 0;
    aspect-ratio: 37/36;
  }
  .home-showreel-dec-1 {
    top: -70;
  }
  .home-showreel-dec-2 {
    top: -70;
    right: 0;
    rotate: 90deg;
  }
  .home-showreel-dec-3 {
    bottom: -70;
    rotate: -90deg;
  }
  .home-showreel-dec-4 {
    bottom: -70;
    right: 0;
    rotate: -180deg;
  }
  .home-showreel-container {
    margin-bottom: 25%;
    margin-top: 25%;
  }
  .home-showreel-sd,
  .home-showreel-sd-1 {
    width: 200px;
    height: 200%;
  }
}
