.container-cards {
  width: 90%;
  margin: 0 auto;
  position: relative;
  margin-bottom: 15%;
  margin-top: 5%;
  transform: translateY(1%);
}

:root {
  --card-height: 87vh;
  --cards: 4;
  --card-margin: 4vw;
  --card-top-padding: 1.5em;
}

#cards {
  list-style: none;
  padding-left: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(var(--cards), var(--card-height));
  gap: var(--card-margin);
  padding-bottom: calc(var(--cards) * var(--card-top-padding));
  margin-bottom: var(--card-margin);
  display: flex;
  flex-direction: column;
  align-items: center; /* centre horizontalement */
  width: 100%;
}

#card1 {
  --index: 1;
}
#card2 {
  --index: 2;
}
#card3 {
  --index: 3;
}
#card4 {
  --index: 4;
}

.card {
  position: sticky;
  top: 0;
  padding-top: calc(var(--index) * var(--card-top-padding));
}

#card1 .card-body {
  background-color: transparent;
}
#card2 .card-body {
  background-color: transparent;
}
#card3 .card-body {
  background-color: transparent;
  opacity: 1;
}
#card4 .card-body {
  background-color: transparent;
}

.card-body {
  box-sizing: border-box;
  padding: 30px;
  border-radius: 15px;
  height: var(--card-height);
  display: flex;
  justify-content: center;
  align-items: center;
}

.motion-dec,
.motion-dec-1,
.motion-dec-2,
.motion-dec-3 {
  position: absolute;
  flex-shrink: 0;
  aspect-ratio: 37/36;
  width: 74px;
  height: 72px;
}

.motion-dec {
  bottom: 0;
  rotate: 270deg;
}
.motion-dec-1 {
  top: 0;
}
.motion-dec-2 {
  top: 0;
  right: 0;
  rotate: 90deg;
}
.motion-dec-3 {
  bottom: 0;
  right: 0;
  rotate: 180deg;
}

.motion-comp {
  position: relative;
  transform: scale(1.1);
  box-shadow: 0 -13px 50px 0 rgba(0, 0, 0, 0.6);
}

.motion-card {
  cursor: pointer;
  position: relative;
  display: flex;
  padding: 20px;
  flex-direction: column;
  gap: 10px;
  border-radius: 15px;
  border: 1px solid rgb(85, 85, 85);
  align-items: flex-start;
  gap: 25px;
  align-self: stretch;
  opacity: 1;
  transition: 1s;
  margin-bottom: 25px;
  background-color: rgba(0, 0, 0, 1);
  .motion-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    align-self: stretch;
  }
  .motion-player {
    display: flex;
    width: 100%;
    height: 20em;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 15px;
    background: #d9d9d9;
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  h1 {
    color: #fff;
    font-family: Outfit;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    align-self: stretch;
  }
  h2 {
    overflow: hidden;
    color: #fff;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: Outfit;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    align-self: stretch;
  }
}

.motion-card:hover {
  border: 1px solid #ffffff;
}

.motion-comp:hover {
  .motion-glow {
    filter: brightness(1000%);
    transition: 0.5s ease;
  }
}

.motion-glow {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -10;
  pointer-events: none;
  filter: brightness(100%);
  transition: filter 0.3s ease; /* transition courte et ciblée */
  opacity: 1;
  transform: scale(1.1);
  transition: 1s;
}

@media (max-width: 992px) {
  .motion-comp {
    width: 90vw;
  }
  .motion-card .motion-player {
    height: 15em;
  }
  .motion-comp {
    padding-left: 10%;
    padding-right: 10%;
    h1 {
      font-size: 18px;
    }
    h2 {
      font-size: 14px;
    }
  }
  .container-cards {
    margin-top: 0%;
  }
  .motion-glow {
    transform: scale(1.05);
  }
}

@media (max-width: 768px) {
  .motion-card .motion-player {
    height: 15em;
  }
  .motion-comp {
    padding-left: 7%;
    padding-right: 7%;
    h1 {
      font-size: 16px;
    }
    h2 {
      font-size: 12px;
    }
  }
  .container-cards {
    margin-top: 0%;
  }
}

@media (max-width: 480px) {
  .motion-card .motion-player {
    height: 15em;
  }
  .motion-comp {
    padding-left: 5%;
    padding-right: 5%;
    h1 {
      font-size: 16px;
    }
    h2 {
      font-size: 12px;
    }
  }
  .container-cards {
    margin-top: 0%;
  }
  .motion-glow {
    transform: scale(1);
  }
}
