.photo-detail-img {
  width: 100%;
  aspect-ratio: 16/9;
  background: #d9d9d9;
  position: relative;
  overflow: hidden;
}

.photo-detail-flex {
  display: flex;
  gap: 10px;
}

.photo-detail-img1 {
  width: 100%;
  aspect-ratio: 4/5;
  background: #d9d9d9;
  position: relative;
  overflow: hidden;
}

.photo-detail-img-flex {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.photo-detail-descriptiom {
  display: flex;
  flex-direction: column;
  margin-top: 25px;

  h1 {
    color: #fff;
    /* text-title */
    font-family: Outfit;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  h2 {
    color: #fff;
    position: relative;
    /* text-description */
    font-family: Outfit;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    flex-shrink: 0;
    .photo-detail-dec-2 {
      position: absolute;
      top: -40;
      rotate: 180deg;
      right: -175;
      width: 74px;
      height: 72px;
      flex-shrink: 0;
      aspect-ratio: 37/36;
    }
    .photo-detail-dec {
      position: absolute;
      width: 74px;
      height: 72px;
      flex-shrink: 0;
      aspect-ratio: 37/36;
      rotate: 90deg;
      bottom: 0;
      right: -175;
    }
  }
}

.photo-detail-hover {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.65) 0%,
    rgba(102, 102, 102, 0.65) 100%
  );
  user-select: none; /* Empêche la sélection */
  -webkit-user-select: none; /* Pour Safari */
  -moz-user-select: none; /* Pour Firefox */
  -ms-user-select: none; /* Pour Internet Explorer */
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 25px;
  transform: translateY(70px);
  transition: 0.5s;
  opacity: 10%;

  h1 {
    overflow: hidden;
    color: #fff;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: Outfit;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}

.photo-detail-img:hover {
  .photo-detail-hover {
    transform: translateY(0px);
    transition: 0.5s;
    opacity: 70%;
  }
}
.photo-detail-img1:hover {
  .photo-detail-hover {
    transform: translateY(0px);
    transition: 0.5s;
    opacity: 70%;
  }
}

.photo-detail-container {
  margin-bottom: 25px;
}
