.photo-collection1,
.photo-collection2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  margin-top: 45px;
  position: relative;
  left: -50px; /* Décale vers la gauche */
  right: -50px; /* Décale vers la droite */
  width: calc(100% + 100px); /* Augmente la largeur */
  padding-right: 15px;
}

.photo-card-1 {
  display: flex;
  width: 264px;
  height: 264px;
  padding: 25px 41px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 15px;
  transition: 0.3s;
}
.photo-card-2 {
  display: flex;
  width: 331px;
  height: 264px;
  padding: 133px 120px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 15px;
  transition: 0.3s;
}
.photo-card-3 {
  display: flex;
  width: 364px;
  height: 264px;
  padding: 25px 41px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 15px;
  transition: 0.3s;
}

.photo-collection2 {
  margin-top: 15px;
}

.photo-collection1-container {
  width: 100vw;
  display: flex;
}

.photo-collection2-container {
  width: 100vw;
  display: flex;
}

@keyframes scroll-carousel {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.photo-collection1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  margin-top: 45px;
  width: max-content;
  position: relative;
  animation: scroll-carousel 20s linear infinite;
}

.carousel-container {
  overflow: hidden;
  width: 100%;
}

.photo-collection2 {
  display: flex;
  gap: 15px;
  width: max-content;
  animation: scroll-carousel-reverse 20s linear infinite;
}

@keyframes scroll-carousel-reverse {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.photo-collection2-container {
  margin-bottom: 25px;
}

.photo-dec {
  position: absolute;
  top: 235;
  right: 40;
  flex-shrink: 0;
  aspect-ratio: 37/36;
  width: 74px;
  height: 72px;
}
.photo-glow {
  position: relative;
  transition: 0.5s;
  .photo-cards {
    border: solid 1px rgb(0, 0, 0);
    background: #d9d9d9;
    transition: 0.5s;
    h1 {
      color: #000000;
      text-align: center;
      font-family: Humane;
      font-size: 48px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      transition: 0.5s;
    }
  }
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -10;
    transform: scale(1.3);
    filter: brightness(100%);
    transition: filter 0.3s ease;
    transition: 1s;
  }
}

.photo-glow:hover {
  img {
    filter: brightness(300%);
    transition: 0.5s ease;
  }
  .photo-cards {
    transform: scale(1.05);
    background: rgba(0, 0, 0, 0.8);
    border: solid 1px white;
    transition: 0.5s;
    h1 {
      color: white;
      transition: 0.5s;
    }
  }
}

@media (max-width: 991px) {
  .photo-dec {
    width: 50px;
    height: 48px;
    top: 200;
    right: 20;
  }
  .photo-collection1-container,
  .photo-collection2-container {
    .photo-cards {
      width: 200px;
      height: 200px;
    }
    .photo-card-2 {
      width: 250px;
      height: 200px;
      padding: 100px 80px;
    }
  }
}
