.video-title {
  user-select: none; /* Empêche la sélection */
  -webkit-user-select: none; /* Pour Safari */
  -moz-user-select: none; /* Pour Firefox */
  -ms-user-select: none; /* Pour Internet Explorer */
  h1 {
    color: #fff;
    font-family: Humane;
    font-size: 200px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: relative;
  }
  span {
    position: absolute;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(172, 172, 172, 0.8);
    font-family: Humane;
    font-size: 200px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    top: 100px;
    z-index: -10;
  }
  .video-title-bottom {
    top: 150px;
  }
}

.video-comp {
  position: relative;
}

.video-card {
  cursor: pointer;
  position: relative;
  display: flex;
  padding: 20px;
  flex-direction: column;
  gap: 10px;
  border-radius: 15px;
  border: 1px solid rgb(85, 85, 85);
  align-items: flex-start;
  gap: 25px;
  align-self: stretch;
  opacity: 0;
  transform: scale(0.7);
  transition: 1s;
  margin-bottom: 25px;
  background-color: rgba(0, 0, 0, 0.6);
  .video-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    align-self: stretch;
  }
  .video-player {
    display: flex;
    width: 100%;
    height: 20em;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 15px;
    background: #d9d9d9;
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  h1 {
    color: #fff;
    font-family: Outfit;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    align-self: stretch;
  }
  h2 {
    overflow: hidden;
    color: #fff;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: Outfit;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    align-self: stretch;
  }
}

.video-card.pop-animation {
  opacity: 1;
  transform: scale(1);
}

.video-card:hover {
  transform: scale(1.05);
  border: 1px solid #ffffff;
}

.video-comp:hover {
  .video-glow {
    filter: brightness(1000%);
    transition: 0.5s ease;
  }
}

.video-glow {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 30;
  left: 30;
  right: 0;
  z-index: -10;
  transform: scale(1.2);
  filter: brightness(100%);
  transition: filter 0.3s ease; /* transition courte et ciblée */
  opacity: 0;
  transform: scale(0.7);
  transition: 1s;
}

.video-glow.pop-animation {
  opacity: 1;
  transform: scale(1.2);
}

.video-dec {
  position: absolute;
  bottom: 0;
  left: -100;
  flex-shrink: 0;
  aspect-ratio: 37/36;
  width: 74px;
  height: 72px;
}

.video-dec-2 {
  position: absolute;
  top: -100;
  right: 0;
  flex-shrink: 0;
  aspect-ratio: 37/36;
  width: 74px;
  height: 72px;
}

.video-dec-3 {
  position: absolute;
  top: 0;
  right: -100;
  rotate: 180deg;
  flex-shrink: 0;
  aspect-ratio: 37/36;
  width: 74px;
  height: 72px;
}

.video-player-3 {
  display: flex;
  width: 100%;
  height: 17em;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 15px;
  background: #d9d9d9;
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.video-card-3 {
  cursor: pointer;
  position: relative;
  display: flex;
  padding: 20px;
  flex-direction: column;
  gap: 10px;
  border-radius: 15px;
  border: 1px solid white;
  align-items: flex-start;
  gap: 25px;
  align-self: stretch;
  opacity: 1;
  transform: scale(1);
  transition: 1s;
  margin-bottom: 25px;
  background-color: rgba(0, 0, 0, 0.6);
  .video-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    align-self: stretch;
  }
  .video-player {
    display: flex;
    width: 100%;
    height: 20em;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 15px;
    background: #d9d9d9;
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  h1 {
    color: #fff;
    font-family: Outfit;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    align-self: stretch;
  }
  h2 {
    overflow: hidden;
    color: #fff;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: Outfit;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    align-self: stretch;
  }
}
