.video-player {
  position: relative;
  display: flex;
  width: 100%;
  aspect-ratio: 16/9;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  background: #d9d9d9;
  margin-bottom: 25px;
  svg {
    stroke-width: 3px;
    flex-shrink: 0;
    position: absolute;
    top: -40;
    left: 0;
    transition: 0.5s;
  }
  svg:hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
}

.video-detail {
  display: flex;
  flex-direction: column;
  gap: 25px;
  position: relative;
  h1 {
    color: #fff;
    font-family: Outfit;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .video-detail-title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h2 {
      overflow: hidden;
      color: #fff;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-family: Outfit;
      font-size: 15px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }
  p {
    overflow: hidden;
    color: #fff;
    text-overflow: ellipsis;
    font-family: Outfit;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    display: -webkit-box;
  }
  h3 {
    position: relative;
    color: #fff;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: Outfit;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 2;
    flex-shrink: 0;
  }
  .video-detail-credits {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .video-detail-credits-right {
    text-align: right;
  }
  .video-detail-bottom {
    margin-top: 10%;
    h1 {
      margin-bottom: 25px;
    }
  }
}

.video-detail-container {
  margin-bottom: 25px;
}

.video-detail-dec {
  position: absolute;
  bottom: 0;
  right: -170;
  rotate: 90deg;
  flex-shrink: 0;
  aspect-ratio: 37/36;
  width: 74px;
  height: 72px;
}

.video-detail-dec-2 {
  position: absolute;
  top: 0;
  right: -170;
  rotate: -180deg;
  flex-shrink: 0;
  aspect-ratio: 37/36;
  width: 74px;
  height: 72px;
}

@media (max-width: 768px) {
  .video-detail-dec,
  .video-detail-dec-2 {
    display: none;
  }
}
@media (max-width: 480px) {
  .video-player {
    height: 12em;
  }
  .video-detail {
    gap: 15px;
    h1 {
      font-size: 16px;
    }
    .video-detail-title h2 {
      font-size: 13px;
    }
    p {
      font-size: 12px;
    }
    h3 {
      font-size: 12px;
    }
  }
  .video-detail .video-detail-bottom h1 {
    margin-bottom: 15px;
  }
}
