<div class="gd-comp">
  <div class="gd-card">
    <div class="gd-player">vidéo</div>
    <div class="gd-info">
      <h1>Titre de la vidéo</h1>
      <h2>
        Lorem ipsum dolor sit amet. Est quidem inventore sit vitae explicabo est
        architecto corporis non ducimus<br />
        dignissimos. Eum dolor iusto id sint pariatur cum nisi sunt. Et dolor
        molestias in ipsa reprehenderit et placeat<br />
        iste in accusantium quibusdam et facere vero. Et deserunt beatae quo
        exercitationem inventore aut voluptas...
      </h2>
    </div>
  </div>
  <img class="gd-glow" src="./img/card-glow.png?as=webp" alt="card glow" />
</div>
