@import "bootstrap/scss/bootstrap-grid";
@import "font";
@import "base";
@import "layout";
@import "modules/_burger.scss";
@import "modules/_home.scss";
@import "modules/_video.scss";
@import "modules/_video-detail1.scss";
@import "modules/_photo.scss";
@import "modules/_photo-detail.scss";
@import "modules/_footer.scss";
@import "modules/_graphisme.scss";
@import "modules/_motion.scss";

.row + .row {
  margin-top: 16px;
}

body {
  overflow-x: hidden;
  background: linear-gradient(90deg, #000 0.01%, #161616 47.12%, #000 99.99%);
}

@font-face {
  font-family: "Humane";
  src: url("../font/Humane-Bold.woff2") format("woff2");
}

html,
body {
  touch-action: pan-y;
}
