@import "bootstrap/scss/bootstrap-grid";
@import "font";
@import "base";
@import "layout";
@import "modules/example";
@import "modules/_burger.scss";
@import "modules/_home.scss";
@import "modules/_video.scss";
@import "modules/_video-detail1.scss";
@import "modules/_photo.scss";
@import "modules/_photo-detail.scss";
@import "modules/_footer.scss";
@import "modules/_graphismeUI.scss";

.row + .row {
  margin-top: 16px;
}

// .row > .col,
// .row > [class^="col-"] {
//   padding-top: 12px;
//   padding-bottom: 12px;
//   background-color: rgba(86, 61, 124, 0.15);
//   border: 1px solid rgba(86, 61, 124, 0.2);
// }

body {
  background: linear-gradient(90deg, #000 0.01%, #161616 47.12%, #000 99.99%);
  overflow-x: hidden;
}

@font-face {
  font-family: "Humane";
  src: url("../font/Humane-Bold.woff2") format("woff2");
}
